<script type="text/javascript">
    alert('Database upload successfully!');
</script>

<div class="row">
    @Html.ActionLink("Do it again", "Index", "Home", null, new { @class = "btn btn-warning" })
</div>